.Home{
    background-color: aqua;
    height: 100dvh;
    margin: auto;
    padding-top: 66px;
}

.projectSection{
    background-color: aquamarine;
    height: 100dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}