.Home{
    overflow-x: hidden;
    background-color: #0B0B0B;
    height: calc(100dvh - 56px);
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "line1"
                         "line2"
                         "line3"
                         "line4"
                         "line5";

    .line1{
        grid-area: line1;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 41px;
        margin: auto;
        width: 68%;
        padding-top: 50px;
    }
    .line2{
        grid-area: line2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        svg{
            text-align: center;
        }
    }
    .line3{
        grid-area: line3;
        display: flex;
        align-items: center;
        justify-content: right;
        font-size: 41px;
        margin: auto;
        width: 68%;
    }
    .line4{
        grid-area: line4;
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: auto;
        width: 50%;
    }
    .line5{
        grid-area: line5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 68%;
    }
}


.pin-wrap {
    height: 100vh;
    width:400vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
      .project1{
      width: 100vw;
      height: 100vh;
      background-color: blue;
    }
    .project2{
      width: 100vw;
      height: 100vh;
      background-color: red;
    }
    .project3{
      width: 100vw;
      height: 100vh;
      background-color: orange;
    }
    .project4{
      width: 100vw;
      height: 100vh;
    }
  }


// HTML
//   <div class="container">
//     <section class=homecontact>
//       <div>
//         <p>home</p>
//       </div>
//     </section>

//     <section class="sectionPin">
//       <div class="pin-wrap">
//         <div class="project1"><p>PROJET 1</p></div>
//         <div class="project2"><p>PROJET 2</p></div>
//         <div class="project3"><p>PROJET 3</p></div>
//         <div class="project4"><p>PROJET 4</p></div>
//        </div>
//     </section>
    
//     <section class=homecontact>
//       <p>contact</p>
//     </section>
//   </div>


// CSS
// .homecontact{
//     background-color: green;
//     height: 100vh;
//     width:100vw;
//   }
//   .pin-wrap {
//     height: 100vh;
//     width:400vw;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//       .project1{
//       width: 100vw;
//       height: 100vh;
//       background-color: blue;
//     }
//     .project2{
//       width: 100vw;
//       height: 100vh;
//       background-color: red;
//     }
//     .project3{
//       width: 100vw;
//       height: 100vh;
//       background-color: orange;
//     }
//     .project4{
//       width: 100vw;
//       height: 100vh;
//     }
//   }


// JS
// gsap.registerPlugin(ScrollTrigger);

// const pageContainer = document.querySelector(".container");

// /* SMOOTH SCROLL */
// const scroller = new LocomotiveScroll({
//   el: pageContainer,
//   smooth: true
// });

// scroller.on("scroll", ScrollTrigger.update);

// ScrollTrigger.scrollerProxy(pageContainer, {
//   scrollTop(value) {
//     return arguments.length
//       ? scroller.scrollTo(value, 0, 0)
//       : scroller.scroll.instance.scroll.y;
//   },
//   getBoundingClientRect() {
//     return {
//       left: 0,
//       top: 0,
//       width: window.innerWidth,
//       height: window.innerHeight
//     };
//   },
//   pinType: pageContainer.style.transform ? "transform" : "fixed"
// });

// ////////////////////////////////////
// ////////////////////////////////////
// window.addEventListener("load", function () {
//   let pinBoxes = document.querySelectorAll(".pin-wrap > *");
//   let pinWrap = document.querySelector(".pin-wrap");
//   let pinWrapWidth = pinWrap.offsetWidth;
//   let horizontalScrollLength = pinWrapWidth - window.innerWidth;

//   // Pinning and horizontal scrolling

//   gsap.to(".pin-wrap", {
//     scrollTrigger: {
//       scroller: pageContainer, //locomotive-scroll
//       scrub: true,
//       trigger: ".sectionPin",
//       pin: true,
//       // anticipatePin: 1,
//       start: "top top",
//       end: pinWrapWidth
//     },
//     x: -horizontalScrollLength,
//     ease: "none"
//   });

//   ScrollTrigger.addEventListener("refresh", () => scroller.update()); //locomotive-scroll

//   ScrollTrigger.refresh();
// });

