.navbar {
  background-color:  #1F2833;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  .navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

      .navbar-item {
          float: left;
          padding: 14px 16px;
          text-decoration: none;
        
          &:hover {
              text-decoration: none;
          }
        
          a {
              color: inherit; 
              text-decoration: none; 
          }

      }
      
  }
}

