.projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: "image details";
    padding-top: 66px;
    height: 100vh;
    background-color: gray;
}

.projectImg {
    grid-area: image;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.projectImg1 {
    background-image: url("/assets/img/theCollection.jpg");
}

.projectImg2 {
    background-image: url("/assets/img/wheaterApp.jpg");
}

.projectImg3 {
    background-image: url("/assets/img/Sunnyside.jpg");
}

.projectImg4 {
    background-image: url("/assets/img/MovieBrowser.jpg");
}

.projectdetails {
    position: relative;
    margin: 0 0 0 50px;
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .backArrow, .projectLink {
        text-decoration: none;
    }
    .backArrow{
        position: absolute;
        top: 20px;
        left: -10px;
        font-size: 2em;
        padding: 10px;
        border: 1px solid white;
        border-radius: 50%;
    }
}


