.TechTalkContainer{
    height: 90vh;
    color: black;
    margin: auto;
    display: grid;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
       
    
    .TechTitle{
        grid-area: top;
        color: black;
        width: 50%;
        margin: auto;
        font-weight: 900;
        font-size: 42px;
        text-transform: uppercase;
        
    }
    .TechDescription{
        grid-area: middle;
        width: 35%;
        margin: auto;
        color: black;
        line-height: 144%;
        padding: 25px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 60%;
            border-bottom: 1px solid black;
        }
    }

    .TechTalkDiv{
        grid-area: bottom;
        width: 80%;
        height: 300px;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 20px;
        .Tech1{
            background-image: url("/public/Tech_Images_Format.png");
            
        }
        .Tech2{
            background-image: url("/public/Tech_UX_UI.png");
        }
        .Tech3{
            background-image: url("/public/Tech_Wordpress.png");
        }
        .Tech4{
            background-image: url("/public/Tech_GSAP.png");
        }
        .Tech5{
            background-image: url("/public/Tech_Not_Defined.png");
        }
        .Tech1, .Tech2, .Tech3, .Tech4,.Tech5{
            height: 250px;
            width: 200px;
            border-radius: 20px;
            background-size: cover;
            background-repeat: no-repeat;
            transition:  0.3s ease-in-out;
            a {
                text-decoration: none;
                margin-top: 115px;
                display: none;
            }
            &:hover {
                cursor: pointer;
                background-color: black; 
                a {
                    display: block; 
                }
            }
        }
    }
    
}
